services:
  nginx:
    image: nginx:alpine
    container_name: nginx-proxy
    ports:
      - "80:80"
    volumes:
      - ./nginx.conf:/etc/nginx/conf.d/default.conf
    depends_on:
      - frontend
      - backend
      - backend_1
    restart: unless-stopped

  backend:
    build: ./backend
    container_name: crudapp-backend
    volumes:
      - ./backend:/app           # Mount code for hot reload
    ports:
      - "8000:8000"
    environment:
      - INSTANCE=SERVER_1
    command: >
      sh -c "
        python manage.py migrate &&
        python manage.py runserver 0.0.0.0:8000
      "
  backend_1:
    build: ./backend
    container_name: crudapp-backend_1
    volumes:
      - ./backend:/app           # Mount code for hot reload
    ports:
      - "8001:8000"
    environment:
      - INSTANCE=SERVER_2
    command: >
      sh -c "
        python manage.py migrate &&
        python manage.py runserver 0.0.0.0:8000
      "
  frontend:
      build: ./frontend
      container_name: crudapp-frontend
      ports:
        - "5173:5173"
      volumes:
        - ./frontend:/frontend
        - /frontend/node_modules
      stdin_open: true
      tty: true
  prometheus:
    image: prom/prometheus:latest
    ports:
      - "9090:9090"
    volumes:
      - ./monitoring/prometheus/prometheus.yml:/etc/prometheus/prometheus.yml
      - prometheus_data:/prometheus
    command:
      - '--config.file=/etc/prometheus/prometheus.yml'
      - '--storage.tsdb.path=/prometheus'
      - '--web.enable-lifecycle' 
    restart: unless-stopped

  grafana:
    image: grafana/grafana:latest
    container_name: grafana
    ports:
      - "3000:3000"
    environment:
      - GF_SECURITY_ADMIN_USER=admin
      - GF_SECURITY_ADMIN_PASSWORD=admin
    volumes:
      - grafana_data:/var/lib/grafana
      - ./monitoring/grafana/provisioning:/etc/grafana/provisioning
    depends_on:
      - prometheus
    restart: unless-stopped
   
volumes:
  prometheus_data:
  grafana_data: